<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criar Registro</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Criar Registro</h1>
    <form action="/register" method="POST">
        <input type="text" placeholder="nome" name="nome">
        <input type="text" placeholder="função" name="funcao">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
